<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet" hostingModel="OutOfProcess" arguments=".\bin\GxNetCoreStartup.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" >

			<!-- Uncomment this section to enable /trace.axd browsing.This allows trace access only when the environment is set to Development.-->
			<!-- 
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
			-->
		</aspNetCore>
		<modules >
			<remove name="WebDAVModule" />
		</modules>
	</system.webServer>
</configuration>